#canvas-Amazing-Skill {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    display: block;
    cursor: none;
    width: 1100px;
    height: 700px;
}
#canvas-Arena {
    position: relative;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0%);
    display: block;
}
body {
    width: 99vw;
    height: 99vh;
    display: block;
    background-color: rgb(44, 39, 39);
}
.gameWindow {
    display: inline-block;
    text-align: center;
    border-radius: 1vw;
    max-width: 10%;
    max-height: 100%;
}
#game-imgs {
    display: block;
    max-width: 100%;
    max-height: 10%;
    margin-bottom: 3vw;
}

* {
    font-family: "Avenir.otf", sans-serif;
}
